# assets
node_modules/
build/
example.png
.serverless/
layer/
.build/
assets/
eng.traineddata
headers.json
*txt
discord.json
.env
.env.prod

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
