commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/some_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      export PATH=$PATH:$(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin
      chmod 755 scripts/docker_monitor.js
      cp docker-cron /etc/cron.d/cron
      chmod  /etc/cron.d/cron
      crontab /etc/cron.d/cron
      touch /var/log/cron.log